[submodule "Ollie_Data_Analysis/FastEMRIWaveforms_Kerr"]
	path = Ollie_Data_Analysis/FastEMRIWaveforms_Kerr
	url = https://github.com/BlackHolePerturbationToolkit/FastEMRIWaveforms.git
	branch = Kerr_Equatorial_Eccentric
[submodule "Ollie_Data_Analysis/EMRI_PE"]
	path = Ollie_Data_Analysis/EMRI_PE
	url = https://github.com/OllieBurke/EMRI_PE.git
    branch = tgr_EMRIs
[submodule "Ollie_Data_Analysis/StableEMRIFisher"]
	path = Ollie_Data_Analysis/StableEMRIFisher
	url = https://github.com/perturber/StableEMRIFisher.git
	branch = KerrEquatorial
